#edit_page.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-heading
				%h1 당신의 Pin을 수정할 수 있습니다!
			.panel-body
				.current_image
					%strong.center 현재 업로드된 이미지입니다.
					= image_tag @pin.image.url(:medium)
				= render 'form'