<div class="col-md-8 col-md-offset-3" id="edit_page">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>당신의 Pin을 수정할 수 있습니다!</h1>
      </div>
      <div class="panel-body">
        <div class="current_image">
          <strong class="center">현재 업로드된 이미지입니다.</strong>
          <%= image_tag @pin.image.url(:medium) %>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>